*, html, body{
    margin:0;
    padding: 0;
}

.navbar{
    display: flex;
    background-color: #0f0f0f;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
}

.navbar a{
    text-decoration: none;
    color: #eeeeee;
}

.navbar-navigasi{
    margin: 0 20em;
}

.about{
margin: 5em 0 5em 5em;
  background-color: white;
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #6b6b6b;
  display: flex;
}

.about-button{
    background-color: #5C8374;
    padding: 1em;
    border-radius: 5px;
}

.about img{
    height: 100px;
    display: flex;
    margin-right: 1.5em;
}

.pengalaman{
    margin: 5em 0 5em 5em;
    width: 90%;
    border-radius: 10px;
    border: 2px solid #6b6b6b;
}

.pengalaman table{
    border-collapse: separate;
    border-spacing: 10px;
    margin: 5em 0 5em 5em;
    width: 90%;
}

.project{
    display: flex;
}

.project-h2{
    margin-left: 3.5em;
}

.card{
    background-color: #5C8374;
    margin: auto;
    padding: 3em;
}


@media only screen and (max-width: 600px) {
    .navbar-navigasi {
        margin: 0;
    }

    .about {
        margin: 1em;
        padding: 5px;
    }

    .about img {
        margin-right: 0.5em;
    }

    .pengalaman {
        margin: 2em;
    }

    .pengalaman table {
        margin: 0.5em;
    }

    .project-h2 {
        margin-left: 0;
    }

    .project{
        flex-direction: column;
    }
}



