*, html, body{
    margin:0;
    padding: 0;
}

.navbar{
    display: flex;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
}

.navbar a{
    text-decoration: none;
}

.navbar-navigasi{
    margin: 0 20em;
}

.about{
margin: 5em 0 5em 5em;
  background-color: white;
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #6b6b6b;
  display: flex;
}

.about-button{
    background-color: aqua;
    padding: 1em;
    border-radius: 5px;
}

.about img{
    height: 100px;
    display: flex;
    margin-right: 1.5em;
}

.pengalaman{
    margin: 5em 0 5em 5em;
    width: 90%;
    border-radius: 10px;
    border: 2px solid #6b6b6b;
}

.pengalaman table{
    border-collapse: separate;
    border-spacing: 10px;
    margin: 5em 0 5em 5em;
    width: 90%;
}

.project{
    display: flex;
}

.project-h2{
    margin-left: 3.5em;
}

.card{
    background-color: aqua;
    margin: auto;
    padding: 3em;
}



